<header id="header">
  <nav class="px-5 navbar navbar-expand-lg navbar-light bg-light">
    <div class="casio-logo p-2">
      <a routerLink="/">
        <img class="svg" src="/assets/logos/casio-logo.svg" alt="CASIO">
      </a>
      <em>VIETNAM</em>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Đồng hồ nam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Đồng hồ nữ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Đồng hồ đôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Đồng hồ trẻ em</a>
        </li>
        <li class="nav-item">

        </li>
      </ul>
      <app-show-cart></app-show-cart>
      <!-- <a class="text-dark" data-toggle="modal" data-target="#exampleModalCenter" href="#">Đăng nhập <i class="fas fa-sign-in-alt"></i></a> -->
      <!-- <app-login></app-login> -->
      
    </div>
  </nav>
</header>
