<!-- Sidebar Holder -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3 routerLink='/' style="cursor: pointer;">Thế giới Watch</h3>
    <strong>BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a routerLink="/admin" >
        <i class="fa fa-home"></i>
        Danh sách sản phẩm
      </a>
    </li>
    <li class="active">
      <a routerLink="/admin/user" class="py-2">
        <i class="fa fa-home"></i>
        Danh sách người dùng
      </a>
    </li>
  </ul>
</nav>
